<mat-toolbar class="header mat-elevation-z4 app-header">
  <span class="title-group" fxShow.xs="false" fxShow="true">
    <a routerLink="/home">
      <img class="logo" src="assets/img/checkApp.png" alt="logo" />
    </a>
  </span>
  <span class="title-group">
    <a routerLink="{{ routerUrl }}">
      <i class="material-icons">
        {{ icone }}
      </i>
      {{ title }}
    </a>
  </span>
  <span class="spacer-flex-right-left"></span>
  <div fxShow.xs="false" fxShow="true" class="container-Logout_">
    <span class="lblSair">Sair</span>
    <button
      mat-icon-button
      color="primary"
      aria-label="button para sair"
      class="btnLogout"
      (click)="onLogout()"
    >
      <i class="material-icons" matTooltip="Sair">
        exit_to_app
      </i>
    </button>
  </div>
</mat-toolbar>
