form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

button {
    margin: 20px 10px 0px 0px;
}

mat-accordion {
    margin-top: 10px;
}

.visibility_icon{
    font-size: 15px;
    padding-right: 5px;
    margin-top: 3px;
}

.panel-title {
    font-weight: 500;
}

.button-remove-container {
    display: inline-flex;
}
.button-add-panel {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-razaoSocial {
    width: 500px;
}