<div class="login-wrapper body" fxLayout="column" fxLayoutAlign="center center">
  <div>
    <img class="logo" src="../../../../assets/img/checkapp.png" alt="logo" />
  </div>
  <mat-card class="box mat-elevation-z6">
    <mat-card-header>
      <mat-card-title> Log in</mat-card-title>
    </mat-card-header>

    <form [formGroup]="formLogin" (ngSubmit)="onSubmit()">
      <mat-card-content>
        <mat-form-field class="example-full-width">
          <input
            matInput
            type="text"
            placeholder="Usuário"
            formControlName="login"
          />
          <mat-error *ngIf="isFieldInvalid('login')">
            Por favor, Informe o usuário.
          </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input
            matInput
            type="password"
            placeholder="Senha"
            formControlName="senha"
          />
          <mat-error *ngIf="isFieldInvalid('senha')">
            Por favor, Informe a senha.
          </mat-error>
        </mat-form-field>
      </mat-card-content>
      <button
        mat-stroked-button       
        color="accent"
        class="btn-login"
        [disabled]="isLoading"
      >
      <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
        Logar
      </button>
    </form>
  </mat-card>
</div>
