
/*header*/
mat-toolbar {
    position: sticky;
    position: -webkit-sticky; /* For macOS/iOS Safari */
    top: 0; /* Sets the sticky toolbar to be on top */
    z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
  }

.header{
    align-items: center;    
}

.header a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: rgb(124, 122, 122);
    width: 100%;
}

.header .logo {
    max-height: 32px;
}

.header .title-group {
    display: flex;
    padding-left: 10px;
}

.header .title-group i {
    padding-right: 5px;
    margin-left: 5px;
}

.container-Logout_ {
    display: flex;
    align-items: center;
}

.btnLogout {
    color: #3F51B5;
}

.lblSair {
    font-size: 0.8em;
    opacity: 0.5;
}


/*header*/

/*sidenav*/
.sidenav{
    background-color: #3F51B5;
    width: 200px;
}

.sidenav a{
    color: white;
}

.sidenav i{
    padding-right: 10px;
}

.content{
    padding: 16px;
    background-color: white;
}


.btnLogout-mobile {
    color: white;
}

.lblSair-mobile {
    font-size: 0.8em;
    opacity: 0.5;
    color: white;
}

.container-Logout {
    align-self: flex-end;
}

.container-btn-toglles-sidenav {
    float: left;
    padding: 0 10px;
}

.btn-toglle-sidebar {
    font-size: 1.5em;
    text-decoration: none;
    color: #2c3e50;
    cursor: pointer;
}
/*sidenav*/

