<!--header início-->
<mat-toolbar class="header mat-elevation-z6 app-header">
  <span class="title-group" fxShow.xs="false" fxShow="true">
    <a routerLink="/home">
      <img class="logo" src="../../../../assets/img/checkapp.png" alt="logo" />
    </a>
  </span>
  <div class="container-btn-toglles-sidenav" fxShow.gt-xs="false" fxShow="true">
    <a
      type="button"
      aria-label="sidenav menu"
      class="btn-toglle-sidebar material-icons"
      (click)="drawer.toggle()"
    >
      {{ isOpened ? "close" : "menu" }}
    </a>
  </div>
  <span class="title-group">
    <a routerLink="{{ routerUrl }}">
      <i class="material-icons">
        {{ icone }}
      </i>
      {{ title }}
    </a>
  </span>
  <span class="spacer-flex-right-left"></span>
  <div fxShow.gt-xs="false" fxShow="true" class="container-Logout_">
    <span class="lblSair">Sair</span>
    <button
      mat-icon-button
      color="primary"
      aria-label="button para sair"
      class="btnLogout"
      (click)="onLogout()"
    >
      <i class="material-icons" matTooltip="Sair">
        exit_to_app
      </i>
    </button>
  </div>
</mat-toolbar>
<!--header fim-->

<!--sidenav início-->
<mat-sidenav-container
  class="container-sidenav"
  [hasBackdrop]="'false'"
  fxLayout="column"
>
  <mat-sidenav
    class="sidenav"
    mode="side"
    #drawer
    fixedInViewport
    fixedTopGap="58"
    [attr.role]="(isHandSet$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandSet$ | async) ? 'push' : 'side'"
    [opened]="(isHandSet$ | async) === false"
    (opened)="sidebarOpen()"
    (closed)="sidebarClose()"
  >
    <div fxLayout="column">
      <div>
        <mat-nav-list class="nav-list left hide-on-med-and-down">
          <div *ngFor="let navItem of navItens">
            <a mat-list-item 
            routerLink="{{ navItem.link }}">
              <i class="material-icons">
                {{ navItem.icon }}
              </i>
              {{ navItem.nameMenu }}
            </a>
          </div>
        </mat-nav-list>
      </div>
      <div class="container-Logout" [fxShow]="(isHandSet$ | async) === true">
        <div fxShow.xs="false" fxShow="true" class="container-Logout_">
          <span class="lblSair">Sair</span>
          <button
            mat-icon-button
            color="primary"
            aria-label="button para sair"
            class="btnLogout"
            (click)="onLogout()"
          >
            <i class="material-icons" matTooltip="Sair">
              exit_to_app
            </i>
          </button>
        </div>
      </div>
    </div>
    
  </mat-sidenav>
  <mat-sidenav-content class="content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
<!--sidenav fim-->

