<div fxLayout="column">
  <div class="agendamento-form">
    <mat-card>
      <mat-card-header fxLayout="row wrap">
        <span class="spacer-flex-right-left"></span>
        <div>
          <mat-card-title fxLayoutAlign="center center"
            >Agendamentos</mat-card-title
          >
          <mat-card-subtitle
            >Agendamento de Inspeções/Manutenções.</mat-card-subtitle
          >
        </div>
        <span class="spacer-flex-right-left"></span>
        <div>
          <form [formGroup]="formPesquisa">
            <div>
              <mat-form-field appearance="outline" class="input-pesquisar">
                <mat-label>Número:</mat-label>
                <input
                  matInput
                  type="text"
                  placeholder="Número do agendamento:"
                  formControlName="id"
                  (input)="onSerachNumAgendaChange($event.target.value)"
                  name="agendamento"
                  [matAutocomplete]="autoAgenda"
                />
                <mat-icon matSuffix>search</mat-icon>
              </mat-form-field>
              <mat-autocomplete
                autoActiveFirstOption
                #autoAgenda="matAutocomplete"
              >
                <mat-option
                  (onSelectionChange)="updateForm(option)"
                  *ngFor="let option of filteredOptionsAgenda | async"
                  [value]="option.id"
                >
                  {{ option.id }}
                </mat-option>
              </mat-autocomplete>
            </div>
          </form>
        </div>
      </mat-card-header>
      <mat-card-content>
        <form [formGroup]="formAgenda">
          <div fxLayout="column">
            <div fxLayout="row wrap">
              <div fxFlex>
                <mat-form-field appearance="outline" class="input-empresa">
                  <mat-label>Empresa</mat-label>
                  <input
                    matInput
                    type="text"
                    placeholder="Empresa"
                    name="empresa"
                    formControlName="empresa"
                    [matAutocomplete]="autoEmpresa"
                    required
                  />
                </mat-form-field>
                <mat-autocomplete
                  autoActiveFirstOption
                  #autoEmpresa="matAutocomplete"
                >
                  <mat-option
                    (onSelectionChange)="selectEmpresa(option)"
                    *ngFor="let option of filteredOptionsEmp | async"
                    [value]="option.razaoSocial"
                  >
                    {{ option.razaoSocial }}
                  </mat-option>
                </mat-autocomplete>
                <mat-error *ngIf="isFieldInvalid('empresa')">
                  Informe a Empresa.
                </mat-error>
              </div>
              <div fxFlex>
                <mat-form-field appearance="outline" class="input-funcionario">
                  <mat-label>Funcionário</mat-label>
                  <input
                    matInput
                    type="text"
                    placeholder="Funcionário"
                    name="nomeFuncionario"
                    formControlName="nomeFuncionario"
                    [matAutocomplete]="autoFuncionario"
                    required
                  />
                </mat-form-field>
                <mat-autocomplete
                  autoActiveFirstOption
                  #autoFuncionario="matAutocomplete"
                >
                  <mat-option
                    (onSelectionChange)="selectFuncionario(option)"
                    *ngFor="let option of filteredOptionsFunc | async"
                    [value]="option.nome"
                  >
                    {{ option.nome }}
                  </mat-option>
                </mat-autocomplete>
                <mat-error *ngIf="isFieldInvalid('nomeFuncionario')">
                  Informe o Funcionário.
                </mat-error>
              </div>
            </div>

            <div fxLayout="row wrap">
              <div fxFlex>
                <mat-form-field appearance="outline" class="input-dataInicial">
                  <mat-label>Data Inicial</mat-label>
                  <input
                    matInput
                    type="text"
                    placeholder="Ex: 01/01/1900"
                    name="dataInicial"
                    formControlName="dataInicial"
                    [matDatepicker]="picker1"
                    required
                  />
                  <mat-datepicker-toggle
                    matSuffix
                    [for]="picker1"
                  ></mat-datepicker-toggle>
                  <mat-datepicker touchUi #picker1></mat-datepicker>
                </mat-form-field>
                <mat-error *ngIf="isFieldInvalid('dataInicial')">
                  Informe a Data Inicial.
                </mat-error>
              </div>
              <div fxFlex>
                <mat-form-field
                  appearance="outline"
                  class="input-TipoEquipamento"
                >
                  <mat-label>Tipo de Equipamento</mat-label>
                  <mat-select
                    name="tipoEquipamento"
                    formControlName="tipoEquipamento"
                    (selectionChange)="tipoEquipamentoSelecionado($event.value)"
                    [value]="tipoEquipamento"
                    required
                  >
                    <mat-option
                      *ngFor="let tipo of tiposEquipamentos"
                      [value]="tipo"
                    >
                      {{ tipo.tipo }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-error *ngIf="isFieldInvalid('tipoEquipamento')">
                  Informe o Tipo de Equipamento.
                </mat-error>
              </div>
              <div fxFlex>
                <mat-form-field
                  appearance="outline"
                  class="input-TipoAgendamento"
                >
                  <mat-label>Tipo de Agendamento</mat-label>
                  <mat-select
                    name="tipoAgendamento"
                    formControlName="tipoAgendamento"
                    (selectionChange)="tipoAgendamentoSelecionado($event.value)"
                    required
                  >
                    <mat-option
                      *ngFor="let tipo of tiposAgendamentos"
                      [value]="tipo.tipoAgenda"
                    >
                      {{ tipo.tipoAgenda }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-error *ngIf="isFieldInvalid('tipoAgendamento')">
                  Informe o Tipo de Agendamento.
                </mat-error>
              </div>
              <div fxFlex *ngIf="pesquisouAgenda">
                <mat-form-field
                  appearance="outline"
                  class="input-TipoAgendamento"
                >
                  <mat-label>Status Agendamento</mat-label>
                  <mat-select
                    name="statusInspManut"
                    formControlName="statusInspManut"
                    (selectionChange)="statusSelecionado($event.value)"
                    required
                  >
                    <mat-option
                      *ngFor="let status of tiposStatus"
                      [value]="status.statusAgenda"
                    >
                      {{ status.statusAgenda }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div fxFlex fxLayout="row wrap" *ngIf="formAgenda.controls.tipoAgendamento.value === 'Manutenção'">
                <div fxFlex>
                  <mat-form-field
                    appearance="outline"
                    class="input-tipoManutencao"
                  >
                    <mat-label>Tipo de Manutenção:</mat-label>
                    <mat-select
                      name="tipoManutencao"
                      formControlName="tipoManutencao"                   
                    >
                      <mat-option
                        *ngFor="let tipo of TipoManutencao"
                        [value]="tipo.tipo"
                      >
                        {{ tipo.tipo }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div fxFlex *ngIf="formAgenda.controls.tipoAgendamento.value === 'Manutenção'">
                  <section class="section-ocorrencia">
                    <mat-checkbox
                      formControlName="ocorrenciaInspecao"
                      matTooltip="Somente os equipamentos marcados com 'Manutenção' na última inspeção para está empresa."
                      >Ocorrência Inspeção</mat-checkbox
                    >
                  </section>
                </div>
              </div>
              <div fxFlex *ngIf="formAgenda.controls.dataFinal.value">
                <mat-form-field appearance="outline" class="input-dataFinal">
                  <mat-label>Data Final</mat-label>
                  <input
                    matInput
                    type="text"
                    placeholder="Ex: 01/01/1900"
                    name="dataFinal"
                    formControlName="dataFinal"
                    [matDatepicker]="picker2"                    
                  />
                  <mat-datepicker-toggle
                    matSuffix
                    [for]="picker2"
                  ></mat-datepicker-toggle>
                  <mat-datepicker touchUi #picker2></mat-datepicker>
                </mat-form-field>
              </div>
              <div fxFlex *ngIf="formAgenda.controls.duracao.value">
                <mat-form-field
                  appearance="outline"
                  class="input-duracao"
                >
                  <mat-label>Duraçao:</mat-label>
                  <input
                    matInput
                    type="text"
                    placeholder="Duraçao"
                    name="duracao"
                    formControlName="duracao"                   
                  />
                </mat-form-field>
              </div>
            </div>
          </div>
        </form>
      </mat-card-content>
      <div fxLayout="row warp">
        <div fxFlex>
          <mat-card-actions align="end">
            <button
              mat-raised-button
              color="primary"
              (click)="agendar()"
              [disabled]="!formAgenda.valid || isLoading"
            >
              <mat-progress-bar
                *ngIf="isLoading"
                mode="indeterminate"
              ></mat-progress-bar>
              {{ !pesquisouAgenda ? "Agendar" : "Salvar" }}
            </button>
            <button mat-raised-button (click)="limparForm()">Limpar</button>
          </mat-card-actions>
        </div>
      </div>
    </mat-card>
  </div>
  <div *ngIf="pesquisouAgenda && formAgenda.controls.tipoAgendamento.value === 'Inspeção'">
    <app-inspecao-detalhe
      [agendamentoId]="formAgenda.controls.id.value"
    ></app-inspecao-detalhe>
  </div>
  <div *ngIf="pesquisouAgenda && formAgenda.controls.tipoAgendamento.value === 'Manutenção'">
    <app-detalhe-manutencao
      [agendamentoId]="formAgenda.controls.id.value"
    ></app-detalhe-manutencao>
  </div>
</div>
