.barChart-EquipInsp {
    width: 35vmax;
    margin: 20px;
}

.barChar-OcorrenciaEmp {
    width: 60vmax;
    margin: 20px 0;
}

.mobile-layout-chart {
    width: 450px !important;
}

.barChart-EquipNotInsp {
    width: 35vmax;
    margin-top: 20px;
}
