.home {
    text-align: center;
}

.home .title{
    font-size: 3rem;
    font-weight: 300;
    line-height: 1.2;
}

.home .subtitle{
    font-size: 1.1rem;
}

.teste{
  width: 400px;
  height: 200px;
  background-color: blueviolet;
}

.teste2{
  width: 400px;
  height: 200px;
  background-color: red;
}