<div class="empresa-form">
  <mat-card>
    <mat-card-title>Adicionar Funcionário(a)</mat-card-title>

    <mat-horizontal-stepper linear #stepper>
      <mat-step
        [stepControl]="formCreate"
        errorMessage="Informações incompletas."
      >
        <form [formGroup]="formCreate">
          <ng-template matStepLabel>Info. do Funcionário(a)</ng-template>

          <div fxLayout="row wrap" fxLayout.xs="column" fxLayout.sm="column">
            <div fxFlex>
              <mat-form-field class="input-nome" appearance="outline">
                <mat-label>Nome:</mat-label>
                <input
                  matInput
                  type="text"
                  placeholder="Nome"
                  name="nome"
                  formControlName="nome"
                  (input)="onSearchFuncChange($event.target.value)"
                  [matAutocomplete]="auto"
                />
                <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                  <mat-option
                    (onSelectionChange)="updateForm(option)"
                    *ngFor="let option of filteredOptions | async"
                    [value]="option.nome"
                  >
                    {{ option.nome }}
                  </mat-option>
                </mat-autocomplete>
                <mat-error *ngIf="isFieldInvalid('nome')">
                  Por favor, Informe a Nome.
                </mat-error>
                <mat-error *ngIf="hasError('nome', 'maxlength')">
                  O máximo de caracteres é 255
                </mat-error>
              </mat-form-field>
            </div>
            <div fxFlex>
              <mat-form-field appearance="outline">
                <mat-label>CPF:</mat-label>
                <input
                  matInput
                  type="text"
                  placeholder="CPF"
                  name="cpf"
                  formControlName="cpf"
                />
                <mat-error *ngIf="isFieldInvalid('cpf')">
                  Por favor, Informe o CPF.
                </mat-error>
                <mat-error *ngIf="hasError('cpf', 'maxlength')">
                  O máximo de caracteres é 12
                </mat-error>
                <mat-error *ngIf="hasError('cpf', 'pattern')">
                  Somente números
                </mat-error>
              </mat-form-field>
            </div>
            <div fxFlex>
              <mat-form-field appearance="outline" class="input-email">
                <mat-label>E-mail:</mat-label>
                <input
                  matInput
                  type="email"
                  placeholder="Email"
                  name="email"
                  formControlName="email"
                />
                <mat-error *ngIf="isFieldInvalid('email')">
                  Por favor, Informe a Email.
                </mat-error>
                <mat-error *ngIf="hasError('email', 'maxlength')">
                  O máximo de caracteres é 50
                </mat-error>
              </mat-form-field>
            </div>
          </div>

          <!-- Inicío Accordion -->
          <mat-accordion [ngClass.xs]="{width: '279px'}">
            <mat-expansion-panel
              (opened)="panelEndOpenState = true"
              (closed)="panelEndOpenState = false"
            >
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <i
                    class="material-icons v-middle visibility_icon"
                    matTooltip="{{ panelEndOpenState ? 'Fechar' : 'Abrir'}}"
                  >
                    {{ panelEndOpenState ? "visibility_off" : "visibility" }}
                  </i>
                  <span class="panel-title">Endereços</span>
                </mat-panel-title>
                <mat-panel-description fxShow.xs="false" fxShow="true">
                  Contém Informações de endereços do funcionário.
                </mat-panel-description>
              </mat-expansion-panel-header>

              <div formArrayName="enderecoDTOs" fxLayout="row wrap">
                <div *ngFor="let endereco of enderecoDTOsArray; let i = index">
                  <div
                    [formGroupName]="i"
                    class="arrayForm-end"
                    fxLayoutGap="2%"
                  >
                    <mat-form-field appearance="outline">
                      <mat-label>País:</mat-label>
                      <input
                        matInput
                        type="text"
                        placeholder="País"
                        name="pais_end"
                        formControlName="pais_end"
                      />
                      <mat-error *ngIf="isFieldArrayEndInvalid(i, 'pais_end')">
                        Por favor, Informe o Pais.
                      </mat-error>
                      <mat-error
                        *ngIf="
                          hasErrorArray(i, 'pais_end', 'maxlength', false, true)
                        "
                      >
                        O máximo de caracteres é 50
                      </mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                      <mat-label>Cidade:</mat-label>
                      <input
                        matInput
                        type="text"
                        placeholder="Cidade"
                        name="cidade_end"
                        formControlName="cidade_end"
                      />
                      <mat-error
                        *ngIf="isFieldArrayEndInvalid(i, 'cidade_end')"
                      >
                        Por favor, Informe a Cidade.
                      </mat-error>
                      <mat-error
                        *ngIf="
                          hasErrorArray(
                            i,
                            'cidade_end',
                            'maxlength',
                            false,
                            true
                          )
                        "
                      >
                        O máximo de caracteres é 50
                      </mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                      <mat-label>Estado:</mat-label>
                      <input
                        matInput
                        type="text"
                        placeholder="Estado"
                        name="estado_end"
                        formControlName="estado_end"
                      />
                      <mat-error
                        *ngIf="isFieldArrayEndInvalid(i, 'estado_end')"
                      >
                        Por favor, Informe o Estado.
                      </mat-error>
                      <mat-error
                        *ngIf="
                          hasErrorArray(
                            i,
                            'estado_end',
                            'maxlength',
                            false,
                            true
                          )
                        "
                      >
                        O máximo de caracteres é 50
                      </mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                      <mat-label>Bairro:</mat-label>
                      <input
                        matInput
                        type="text"
                        placeholder="Bairro"
                        name="bairro_end"
                        formControlName="bairro_end"
                      />
                      <mat-error
                        *ngIf="isFieldArrayEndInvalid(i, 'bairro_end')"
                      >
                        Por favor, Informe o Bairro
                      </mat-error>
                      <mat-error
                        *ngIf="
                          hasErrorArray(
                            i,
                            'bairro_end',
                            'maxlength',
                            false,
                            true
                          )
                        "
                      >
                        O máximo de caracteres é 50
                      </mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                      <mat-label>Rua:</mat-label>
                      <input
                        matInput
                        type="text"
                        placeholder="Rua"
                        name="rua_end"
                        formControlName="rua_end"
                      />
                      <mat-error *ngIf="isFieldArrayEndInvalid(i, 'rua_end')">
                        Por favor, Informe a Rua.
                      </mat-error>
                      <mat-error
                        *ngIf="
                          hasErrorArray(i, 'rua_end', 'maxlength', false, true)
                        "
                      >
                        O máximo de caracteres é 50
                      </mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                      <mat-label>Número:</mat-label>
                      <input
                        matInput
                        type="text"
                        placeholder="Número"
                        name="numero_end"
                        formControlName="numero_end"
                      />
                      <mat-error
                        *ngIf="isFieldArrayEndInvalid(i, 'numero_end')"
                      >
                        Por favor, Informe o Número.
                      </mat-error>
                      <mat-error
                        *ngIf="
                          hasErrorArray(
                            i,
                            'numero_end',
                            'maxlength',
                            false,
                            true
                          )
                        "
                      >
                        O máximo de caracteres é 10
                      </mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                      <mat-label>CEP:</mat-label>
                      <input
                        matInput
                        type="text"
                        placeholder="CEP"
                        name="cep_end"
                        formControlName="cep_end"
                      />
                      <mat-error *ngIf="isFieldArrayEndInvalid(i, 'cep_end')">
                        Por favor, Informe o CEP.
                      </mat-error>
                      <mat-error
                        *ngIf="
                          hasErrorArray(i, 'cep_end', 'maxlength', false, true)
                        "
                      >
                        O máximo de caracteres é 8
                      </mat-error>
                    </mat-form-field>
                    <div class="button-remove-container">
                      <button
                        mat-mini-fab
                        color="warn"
                        (click)="removeEndereco(i)"
                      >
                        <i class="material-icons" matTooltip="Remover">
                          remove
                        </i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <button
                mat-mini-fab
                color="primary"
                class="button-add-panel"
                (click)="addNovoEndereco()"
              >
                <i
                  class="material-icons"
                  matTooltip="Adicionar um novo endereço"
                >
                  add
                </i>
              </button>
            </mat-expansion-panel>

            <mat-expansion-panel
              class="panel-telefone"
              (opened)="panelTelOpenState = true"
              (closed)="panelTelOpenState = false"
            >
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <i
                    class="material-icons v-middle visibility_icon"
                    matTooltip="{{ panelTelOpenState ? 'Fechar' : 'Abrir'}}"
                  >
                    {{ panelTelOpenState ? "visibility_off" : "visibility" }}
                  </i>
                  <span class="panel-title">Telefones</span>
                </mat-panel-title>
                <mat-panel-description fxShow.xs="false" fxShow="true">
                  Contém Informações de telefones do funcionário.
                </mat-panel-description>
              </mat-expansion-panel-header>
              <div formArrayName="telefoneDTOs" fxLayout="row wrap">
                <div
                  *ngFor="let telefone of telefoneDTOsArray; let i = index"
                  fxLayout="row wrap"
                >
                  <div [formGroupName]="i" fxLayoutGap="2%">
                    <mat-form-field
                      appearance="outline"
                      class="container-input-field input-ddd"
                    >
                      <mat-label>DDD:</mat-label>
                      <input
                        matInput
                        type="text"
                        placeholder="DDD"
                        name="ddd_tel"
                        formControlName="ddd_tel"
                      />
                      <mat-error *ngIf="isFieldArrayTelInvalid(i, 'ddd_tel')">
                        Por favor, Informe o DDD.
                      </mat-error>
                      <mat-error
                        *ngIf="
                          hasErrorArray(i, 'ddd_tel', 'maxlength', true, false)
                        "
                      >
                        O máximo de caracteres é 3
                      </mat-error>
                      <mat-error
                        *ngIf="
                          hasErrorArray(i, 'ddd_tel', 'pattern', true, false)
                        "
                      >
                        Somente números
                      </mat-error>
                    </mat-form-field>

                    <mat-form-field
                      appearance="outline"
                      class="container-input-field"
                    >
                      <mat-label>Telefone:</mat-label>
                      <input
                        matInput
                        type="text"
                        placeholder="Telefone"
                        name="telefone_tel"
                        formControlName="telefone_tel"
                      />
                      <mat-error
                        *ngIf="isFieldArrayTelInvalid(i, 'telefone_tel')"
                      >
                        Por favor, Informe o Telefone.
                      </mat-error>
                      <mat-error
                        *ngIf="
                          hasErrorArray(
                            i,
                            'telefone_tel',
                            'maxlength',
                            true,
                            false
                          )
                        "
                      >
                        O máximo de caracteres é 9
                      </mat-error>
                      <mat-error
                        *ngIf="
                          hasErrorArray(
                            i,
                            'telefone_tel',
                            'pattern',
                            true,
                            false
                          )
                        "
                      >
                        Somente números
                      </mat-error>
                    </mat-form-field>
                    <div class="button-remove-container">
                      <button
                        mat-mini-fab
                        color="warn"
                        (click)="removeTelefone(i)"
                      >
                        <i class="material-icons" matTooltip="Remover">
                          remove
                        </i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>

              <button
                mat-mini-fab
                color="primary"
                class="button-add-panel"
                (click)="addNovoTelefone()"
              >
                <i
                  class="material-icons"
                  matTooltip="Adicionar um novo telefone"
                >
                  add
                </i>
              </button>
            </mat-expansion-panel>
          </mat-accordion>
          <!-- Fim Accordion -->
        </form>
        <div>
          <button mat-raised-button matStepperNext>Próximo</button>
        </div>
      </mat-step>
      <mat-step
        [stepControl]="formGroupCreatePerfil"
        errorMessage="Perfil e obrigatório."
      >
        <ng-template matStepLabel>Perfil do Funcionário(a)</ng-template>
        <div fxLayout="column">
            <h4>Perfil:</h4>
            <form [formGroup]="formGroupCreatePerfil">
              <div>
                <mat-form-field appearance="outline">
                  <mat-label>Selecione o Perfil</mat-label>
                  <input
                    matInput
                    name="perfil"
                    type="text"
                    formControlName="funcao_perfil"
                    placeholder="Perfil"            
                    [matAutocomplete]="autoPerfil"
                    required
                  />
                  <mat-autocomplete autoActiveFirstOption #autoPerfil="matAutocomplete">
                    <mat-option
                    (onSelectionChange)="perfilSelecionado(option)"
                      *ngFor="let option of filteredOptionsPerfil | async"
                      [value]="option.funcao_perfil"
                    >
                      {{ option.funcao_perfil }}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </div>
            </form>            
        </div>
        <div>
          <button mat-raised-button matStepperPrevious>Voltar</button>
          <button mat-raised-button matStepperNext>Próximo</button>
        </div>
      </mat-step>
      <mat-step [stepControl]="formGroupcreateUsuario" optional>
        <ng-template matStepLabel>Usuário do Func.</ng-template>
        <div fxLayout="column">
            <h4>Usuário:</h4>
            <form [formGroup]="formGroupcreateUsuario">
              <div>
                <mat-form-field appearance="outline">
                  <mat-label>Selecione o Usuário</mat-label>
                  <mat-select
                    name="perfil"
                    [formControl]="formGroupcreateUsuario"
                    (selectionChange)="usuarioSelecionado($event.value)"
                    [value]="usuario"
                    required
                  >
                    <mat-option *ngFor="let usuario of usuarios" [value]="usuario">
                      {{ usuario.login }}
                    </mat-option>
                  </mat-select>
                  <mat-hint *ngIf="usuario"
                    >Usuário Atual: {{ usuario.login }}</mat-hint
                  >
                </mat-form-field>
              </div>
            </form>
        </div>

        <div fxLayout="row">
          <div>
            <button mat-raised-button matStepperPrevious>Voltar</button>
          </div>
          <span class="spacer-flex-right-left"></span>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
    <div>
      <button
        mat-raised-button
        [disabled]="!formGroupCreatePerfil.valid || isLoading"
        (click)="salvarFuncionario(stepper)"
        color="primary"
      >
        <mat-progress-bar
          *ngIf="isLoading"
          mode="indeterminate"
        ></mat-progress-bar>
        Salvar
      </button>
      <button
        mat-raised-button
        [disabled]="
          !formGroupCreatePerfil.valid || !UpdateOrDelete || isLoading
        "
        (click)="deleteFuncionario(stepper)"
        color="warn"
      >
        <mat-progress-bar
          *ngIf="isLoading"
          mode="indeterminate"
        ></mat-progress-bar>
        Excluir
      </button>
      <button mat-raised-button (click)="limparForm(stepper)">Limpar</button>
    </div>
  </mat-card>
</div>
