form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

button {
    margin: 20px 10px 0px 0px;
}

.rigth-container-form {
    width: 500px;
}

.input-nome {
    width: 30vmax;
}

.input-tipo {
    width: 30vmax;
}

.container-qrCode {
    margin: 0 10px;
    padding: 10px;
    border: 1px dashed black;
    width: 200px;
    height: 200px;
}

.btnDownload-qrCode{
    padding-top: 5px;
    padding-left: 50px;
}

.btnDownload-qrCode div > button {
    margin: 0;
}

.btnDownload-qrCode > .btnGerar-qrCode {
    margin-right: 5px;
}

.localizacao-field {
    width: 40vmax;
    margin-top: 10px;
}

.container-fields-extintor{
    height: 200px;
}

.container-fields-extintor-mobile {
    height: 60vh !important;
    margin-top: 15px;
}

.iconAnoFabricao-size {
    font-size: 1em;
}

.input-tipo_ext{
    width: 10vmax;
}

.form-part2-mobile-layout {
    margin-top: 70px;
}

.localizacao-field-mobile {
    width: 60vw !important;
}

::ng-deep .mat-tooltip  {
    white-space: pre-line    !important;
}

.input-num_ext-mobile{
    margin-top: 15px;
}