<div class="empresa-form">
  <mat-card>
    <mat-card-title>Adicionar Equipamento</mat-card-title>

    <mat-horizontal-stepper linear #stepper>
      <mat-step
        [stepControl]="formCreateEmpresa"
        errorMessage="Informações incompletas."
      >
        <form [formGroup]="formCreateEmpresa">
          <ng-template matStepLabel>Selecione a Empresa</ng-template>
          <div fxLayout="column">
            <div fxFlex>
              <mat-form-field class="input-nome" appearance="outline">
                <mat-label>Razão Social:</mat-label>
                <input
                  matInput
                  type="text"
                  placeholder="Nome da Empresa"
                  name="nomeEmpresa"
                  formControlName="razaoSocial"
                  [matAutocomplete]="auto"
                  (input)="onSearchEmpChange($event.target.value)"
                  required
                />
                <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                  <mat-option
                    (onSelectionChange)="selectEmpresa(option)"
                    *ngFor="let option of filteredEmpresas | async"
                    [value]="option.razaoSocial"
                  >
                    {{ option.razaoSocial }}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </div>
          </div>
        </form>
        <div>
          <button mat-raised-button matStepperNext>Próximo</button>
        </div>
      </mat-step>
      <mat-step
        [stepControl]="formCreateTipoEquipamento"
        errorMessage="Tipo é obrigatório."
      >
        <div fxLayout="row" fxLayout.xs="column">
          <div fxFlex>
            <form [formGroup]="formCreateTipoEquipamento">
              <ng-template matStepLabel>Tipo do Equipamento</ng-template>
              <div fxLayout="column">
                <div>
                  <mat-form-field class="input-tipo" appearance="outline">
                    <mat-label>Tipo</mat-label>
                    <mat-select
                      name="tipoEquipamento"
                      [formControl]="formCreateTipoEquipamento"
                      (selectionChange)="
                        tipoEquipamentoSelecionado($event.value)
                      "
                      [value]="tipoEquipamento"
                      required
                    >
                      <mat-option
                        *ngFor="let tipo of tiposEquipamentos"
                        [value]="tipo"
                      >
                        {{ tipo.tipo }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div></div>
              </div>
            </form>
          </div>
        </div>
        <div>
          <button mat-raised-button matStepperPrevious>Voltar</button>
          <button mat-raised-button matStepperNext>Próximo</button>
        </div>
      </mat-step>
      <mat-step [stepControl]="formCreate">
        <form [formGroup]="formCreate">
          <ng-template matStepLabel>{{
            tipoEquipamento ? tipoEquipamento.tipo : "Indefinido"
          }}</ng-template>
          <div fxLayout="row wrap" fxLayout.xs="column">
            <div fxFlex="30" fxLayout="column" class="rigth-container-form">
              <div fxFlex>
                <div class="container-qrCode">
                  <qrcode
                    *ngIf="display"
                    [qrdata]="qrData"
                    [width]="200"
                    [errorCorrectionLevel]="'M'"
                    [elementType]="elementType"
                  ></qrcode>
                </div>
              </div>
              <div fxFlex class="btnDownload-qrCode">
                <div>
                  <button
                    mat-raised-button
                    color="primary"
                    class="btnGerar-qrCode"
                    [disabled]="!formCreate.valid"
                    (click)="GerarQrCode()"
                  >
                    Gerar QrCode
                  </button>
                  <a
                    [href]="hrefQrCode"
                    mat-mini-fab
                    aria-label="botão de download qrCode"
                    matTooltip="Baixar QrCode"
                    [disabled]="!display"
                    (click)="downloadImage()"
                    download="{{ getNomenclaturaQrCode() }}"
                  >
                    <mat-icon>cloud_download</mat-icon>
                  </a>
                </div>
              </div>
            </div>
            <div fxFlex="70" fxLayout="column">
              <div
                formGroupName="extintorDTO"
                fxLayoutGap="2%"
                fxLayout="row wrap"
                class="container-fields-extintor"
                ngClass.xs="container-fields-extintor-mobile"
              >
                <div fxFlex >
                  <mat-form-field
                    class="input-numExt"
                    [ngStyle.xs]="{ width: '200px' }"
                    appearance="outline"
                  >
                    <mat-label>Número do Extintor:</mat-label>
                    <input
                      matInput
                      type="text"
                      placeholder="Número do Extintor"
                      name="num_ext"
                      formControlName="num_ext"
                      [matAutocomplete]="autoExtintor"
                      (input)="onSearchChange($event.target.value)"
                    />
                    <mat-autocomplete
                      autoActiveFirstOption
                      #autoExtintor="matAutocomplete"
                    >
                      <mat-option
                        (onSelectionChange)="selectExtintor(option)"
                        *ngFor="let option of filteredExtintor | async"
                        [value]="option.num_ext"
                      >
                        {{ option.num_ext }}
                      </mat-option>
                    </mat-autocomplete>
                    <mat-error *ngIf="isFieldExtintorInvalid('num_ext')">
                      Informe o Número.
                    </mat-error>
                  </mat-form-field>
                </div>
                <div fxFlex class="div-form-fields">
                  <mat-form-field
                    class="input-seloInmetro"
                    [ngStyle.xs]="{ width: '200px' }"
                    appearance="outline"
                  >
                    <mat-label>Selo Inmetro:</mat-label>
                    <input
                      matInput
                      type="text"
                      placeholder="Selo Inmetro"
                      name="seloInmetro_ext"
                      formControlName="seloInmetro_ext"
                    />
                    <mat-error
                      *ngIf="isFieldExtintorInvalid('seloInmetro_ext')"
                    >
                      Informe o Selo.
                    </mat-error>
                    <mat-error
                      *ngIf="
                        hasErrorFieldExtintor('seloInmetro_ext', 'maxlength')
                      "
                    >
                      Somente 14 digitos
                    </mat-error>
                    <mat-error
                    *ngIf="hasErrorFieldExtintor('seloInmetro_ext', 'pattern')"
                  >
                    Somente números
                  </mat-error>
                  </mat-form-field>
                </div>
                <div fxFlex class="div-form-fields">
                  <mat-form-field
                    class="input-fabricante"
                    [ngStyle.xs]="{ width: '200px' }"
                    appearance="outline"
                  >
                    <mat-label>Fabricante:</mat-label>
                    <input
                      matInput
                      type="text"
                      placeholder="Fabricante"
                      name="fabricante_ext"
                      formControlName="fabricante_ext"
                    />
                    <mat-error *ngIf="isFieldExtintorInvalid('fabricante_ext')">
                      Informe o Fabricante.
                    </mat-error>
                    <mat-error
                      *ngIf="
                        hasErrorFieldExtintor('fabricante_ext', 'maxlength')
                      "
                    >
                      Somente 50 digitos
                    </mat-error>
                  </mat-form-field>
                </div>
                <div fxFlex>
                  <div>
                    <mat-form-field [ngStyle.xs]="{ width: '150px' }" class="input-tipo_ext" appearance="outline">
                      <mat-label>Tipo:</mat-label>
                      <mat-select
                        name="tipo_ext"
                        formControlName="tipo_ext"
                        (selectionChange)="SelectionTipoChange($event.value)"
                        required
                      >
                        <mat-option
                          *ngFor="let tipo of tipoExtintor"
                          [value]="tipo.tipo"
                        >
                          {{ tipo.tipo }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                    <button
                      mat-icon-button
                      aria-label="Icone com tipos de extintores"
                      matTooltip="
                  EM - ESPUMA MECÂNICA               
                  CLA K - CLASSE K            
                  AMP CO2 - AMPOLA CO2          
                  AMP N2 - AMPOLA N2           	    
                  CO2 - GÁS CARBONICO       
                  PQS ABC - PÓ QUÍMICO SECO ABC 
                  PQS BC - PÓ QUÍMICO SECO BC  
                  CLA D - CLASSE D             
                  "
                    >
                      <mat-icon>battery_unknown</mat-icon>
                    </button>
                    <mat-error *ngIf="isFieldExtintorInvalid('tipo_ext')">
                      Informe o Tipo.
                    </mat-error>
                    <mat-error
                      *ngIf="hasErrorFieldExtintor('tipo_ext', 'maxlength')"
                    >
                      Somente 100 digitos
                    </mat-error>
                  </div>
                </div>
                <div fxFlex class="div-form-fields">
                  <mat-form-field
                    class="input-numExt"
                    [ngStyle.xs]="{ width: '200px' }"
                    appearance="outline"
                  >
                    <mat-label>Capacidade:</mat-label>
                    <input
                      matInput
                      type="text"
                      placeholder="Capacidade"
                      name="capacidade_ext"
                      formControlName="capacidade_ext"
                    />
                    <span matSuffix>{{ pesoExtintor }}</span>
                    <mat-error *ngIf="isFieldExtintorInvalid('capacidade_ext')">
                      Informe a Capcidade.
                    </mat-error>
                    <mat-error
                      *ngIf="hasErrorFieldExtintor('capacidade_ext', 'pattern')"
                    >
                      Somente números
                    </mat-error>
                  </mat-form-field>
                </div>
                <div fxFlex class="div-form-fields">
                  <mat-form-field
                    class="input-fabricacao"
                    [ngStyle.xs]="{ width: '200px' }"
                    appearance="outline"
                  >
                    <mat-label>Ano de Fabricação:</mat-label>
                    <input
                      matInput
                      type="text"
                      placeholder="Ano de Fabricação"
                      name="anoFabricacao_ext"
                      formControlName="anoFabricacao_ext"
                    />
                    <mat-icon matSuffix class="iconAnoFabricao-size">
                      today
                    </mat-icon>
                    <mat-error
                      *ngIf="isFieldExtintorInvalid('anoFabricacao_ext')"
                    >
                      Informe o Ano de Fabricação.
                    </mat-error>
                    <mat-error
                      *ngIf="
                        hasErrorFieldExtintor('anoFabricacao_ext', 'maxlength')
                      "
                    >
                      Somente 4 digitos
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div
                fxFlex
                ngClass.xs="form-part2-mobile-layout"
                fxLayout="column"
              >
                <div fxFlex fxLayout="row">
                  <div fxFlex class="div-form-fields">
                    <mat-form-field
                      class="input-dataCricao"
                      [ngStyle.xs]="{ width: '200px' }"
                      appearance="outline"
                    >
                      <mat-label>Data de Criação:</mat-label>
                      <input
                        matInput
                        type="text"
                        placeholder="Data de criação"
                        name="dataCriacao_equipamento"
                        formControlName="dataCriacao_equipamento"
                        [matDatepicker]="picker2"
                        disabled
                      />
                      <mat-datepicker-toggle
                        matSuffix
                        [for]="picker2"
                      ></mat-datepicker-toggle>
                      <mat-datepicker #picker2></mat-datepicker>
                    </mat-form-field>
                  </div>
                  <div fxFlex class="div-form-fields" *ngIf="display">
                    <mat-form-field
                      class="input-dataCricao"
                      [ngStyle.xs]="{ width: '200px' }"
                      appearance="outline"
                    >
                      <mat-label>Data de criação do QrCode:</mat-label>
                      <input
                        matInput
                        type="text"
                        placeholder="Data de criação do QrCode"
                        name="dataCriacao_equipamento"
                        formControlName="qrcode_data_geracao"
                        [matDatepicker]="picker3"
                        disabled
                      />
                      <mat-datepicker-toggle
                        matSuffix
                        [for]="picker3"
                      ></mat-datepicker-toggle>
                      <mat-datepicker #picker3></mat-datepicker>
                    </mat-form-field>
                  </div>
                </div>

                <div fxFlex>
                  <mat-form-field
                    class="localizacao-field"
                    appearance="outline"
                    ngClass.xs="localizacao-field-mobile"
                  >
                    <mat-label>Localização</mat-label>
                    <textarea
                      matInput
                      cdkTextareaAutosize
                      name="localizacao_equipamento"
                      formControlName="localizacao_equipamento"
                      #autosize="cdkTextareaAutosize"
                      cdkAutosizeMinRows="5"
                      cdkAutosizeMaxRows="50"
                    ></textarea>
                  </mat-form-field>
                  <mat-error
                    *ngIf="isFieldInvalid('localizacao_equipamento')"
                    class="localizacao-field-error"
                  >
                    Informe a Localização
                  </mat-error>
                </div>
              </div>
            </div>
          </div>
        </form>

        <div>
          <button mat-raised-button matStepperPrevious>Voltar</button>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
    <div>
      <button
        mat-raised-button
        [disabled]="!formCreate.valid || isLoading"
        (click)="salvarEquipamento(stepper)"
        color="primary"
      >
        <mat-progress-bar
          *ngIf="isLoading"
          mode="indeterminate"
        ></mat-progress-bar>
        Salvar
      </button>
      <button
        mat-raised-button
        [disabled]="!formCreate.valid || !UpdateOrDelete || isLoading"
        (click)="deleteEquipamento(stepper)"
        color="warn"
      >
        <mat-progress-bar
          *ngIf="isLoading"
          mode="indeterminate"
        ></mat-progress-bar>
        Excluir
      </button>
      <button mat-raised-button (click)="limparForm(stepper)">Limpar</button>
    </div>
  </mat-card>
</div>
