form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

button {
    margin: 20px 10px 0px 0px;
}

.perfil-form {
    width: 100%;
}

.input-login {
    width: 300px;
}

.input-senha {
    width: 300px;
}
