<div
  class="perfil-form"
  [ngStyle.xs]="{ width: '100%' }"
  [ngStyle.sm]="{ width: '100%' }"
>
  <mat-card>
    <mat-card-title>Adicionar Perfil</mat-card-title>

    <form [formGroup]="formCreate">
      <div fxLayout="row" fxLayout.xs="column">
        <div fxFlex="40">
          <mat-form-field class="input-funcao">
            <input
              matInput
              type="text"
              placeholder="Perfil"
              name="perfil"
              formControlName="funcao_perfil"
              [matAutocomplete]="auto"
              (input)="onSearchChange($event.target.value)"
            />
            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
              <mat-option
                (onSelectionChange)="updateForm(option)"
                *ngFor="let option of filteredOptions | async"
                [value]="option.funcao_perfil"
              >
                {{ option.funcao_perfil }}
              </mat-option>
            </mat-autocomplete>
            <mat-error *ngIf="isFieldInvalid('funcao_perfil')">
              Por favor, Informe o Perfil.
            </mat-error>
            <mat-error *ngIf="hasError('funcao_perfil', 'maxlength')">
              O máximo de caracteres é 50
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </form>
    <button
      mat-raised-button
      [disabled]="!formCreate.valid || isLoading"
      (click)="createPerfil()"
      color="primary"
    >
    <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
      Salvar
    </button>
    <button
      mat-raised-button
      [disabled]="!formCreate.valid || !UpdateOrDelete || isLoading"
      (click)="deletePerfil()"
      color="warn"
    >
    <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
      Excluir
    </button>
  </mat-card>
</div>
